# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: db94435f31f586e9665e925505424ccca1e0ab0bf063fd5d4215aa0de849e1df4b1363fbdc88a492673e62bf024367c93f160e96746e5b1cb7a19278400975da

test:
  secret_key_base: db551083d9b45d090be66344bdffbb79520e4ae4616bc476b53a4df477678aa268c78c476c90208e7f4ab8c0ea29645cbe5d752f3fa54f8a8c79f9043eb77edc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
